.topnav-right {
  float: right;
}

#main-container {
  margin-top: 70px;
}

#search-container {
  margin-top: 100px;
  padding:20px;
}

#search-artist {
  padding-left: 20px;
  padding-bottom: 15px;
}

.card-body {
  background-color: rgb(241, 239, 239);
  font-family: 'Open Sans', sans-serif;
}

/* images */
#genre-image {
  height: 25vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#playlist-image {
  height: 25vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#artist-image {
  height: 25vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* images */

/* cards */
#genre-card {
  margin: 10px;
  border: lightgray 2pt solid;
}

#playlist-card {
  margin: 10px;
  border: lightgray 2pt solid;
}

#artist-card {
  margin: 10px;
  border: lightgray 2pt solid;
}
/* cards */

.centered {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* Hover features */
.genre:hover .card-img-top {
  opacity: 0.3;
}

.genre:hover .centered {
  opacity: 1;
}

.playlist:hover .card-img-top {
  opacity: 0.3;
}

.playlist:hover .centered {
  opacity: 1;
}

.artist:hover .card-img-top {
  opacity: 0.3;
}

.artist:hover .centered {
  opacity: 1;
}
/* /Hover features */

.jumbotron {
  background: 
    linear-gradient(180deg, rgba(248, 184, 139,0) 20%, rgba(248, 184, 139,.1) 20%, rgba(248, 184, 139,.1) 40%),
    linear-gradient(45deg, rgba(250, 248, 132,.3) 20%, rgba(250, 248, 132,.4) 20%, rgba(250, 248, 132,.4) 40%, rgba(250, 248, 132,.5) 40%, rgba(250, 248, 132,.5) 60%, rgba(250, 248, 132,.6) 60%, rgba(250, 248, 132,.6) 80%, rgba(250, 248, 132,.7) 80%),
    linear-gradient(-45deg, rgba(186, 237, 145,0) 20%, rgba(186, 237, 145,.1) 20%, rgba(186, 237, 145,.1) 40%, rgba(186, 237, 145,.2) 40%, rgba(186, 237, 145,.2) 60%, rgba(186, 237, 145,.4) 60%, rgba(186, 237, 145,.4) 80%, rgba(186, 237, 145,.6) 80%),
    linear-gradient(90deg, rgba(178, 206, 254,0) 20%, rgba(178, 206, 254,.3) 20%, rgba(178, 206, 254,.3) 40%, rgba(178, 206, 254,.5) 40%, rgba(178, 206, 254,.5) 60%, rgba(178, 206, 254,.7) 60%, rgba(178, 206, 254,.7) 80%, rgba(178, 206, 254,.8) 80%),
    linear-gradient(-90deg, rgba(242, 162, 232,0) 20%, rgba(242, 162, 232,.4) 20%, rgba(242, 162, 232,.4) 40%, rgba(242, 162, 232,.5) 40%, rgba(242, 162, 232,.5) 60%, rgba(242, 162, 232,.6) 60%, rgba(242, 162, 232,.6) 80%, rgba(242, 162, 232,.8) 80%),
    linear-gradient(180deg, rgba(254, 163, 170,0) 20%, rgba(254, 163, 170,.4) 20%, rgba(254, 163, 170,.4) 40%, rgba(254, 163, 170,.6) 40%, rgba(254, 163, 170,.6) 60%, rgba(254, 163, 170,.8) 60%, rgba(254, 163, 170,.8) 80%, rgba(254, 163, 170,.9) 80%);
}

